@use 'fonts';

@import 'header';
@import 'main';
@import 'gallery';
@import 'service';
@import 'footer';

body {
    font-family: fonts.$main-font;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}